.custom-radio {
  &__root {
    width: 18px !important;
    height: 18px !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 50% !important;
    
    .MuiSvgIcon-root {
      font-size: 18px !important;
    }

    &:hover {
      color: blue;
    }
  }

  &__checked {
    color: rgb(0, 81, 171) !important;
    border: 4px solid rgb(0, 81, 171) !important;
    background-color: rgb(255, 255, 255) !important;
    
    .MuiSvgIcon-root {
      color: rgb(255, 255, 255) !important;
      background-color: rgb(255, 255, 255) !important;
      border-radius: 50% !important;
      width: 1px !important;
      height: 1px !important;
    }
  }

  &__disabled {
    opacity: 0.5 !important;
    border: 5px solid #ccc !important;
    background-color: #f5f5f5 !important;
  }
}
