.toggle-switch {
  cursor: pointer;
  width: 30px;
  height: 14px;
}

.toggle-switch.disabled {
  cursor: pointer;
  pointer-events: none;
  opacity: 0.5;
}

.toggle-switch.disabled.show-pointer-on-disabled {
  cursor: pointer;
  pointer-events: auto;
}

.switch {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  transition: background-color 0.3s ease;
}

.switch.on {
  border: 1px solid rgba(0, 111, 230, 1);
}

.switch.off {
  border: 1px solid rgba(210, 228, 253, 1);
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.3s ease;
}

.switch.on .circle {
  left: 17px;
  background-color: rgba(0, 111, 230, 1);
}

.switch.off .circle {
  background-color: rgba(210, 228, 253, 1);
}
